<div class="contactbnr__bannerContent">
  <div class="contactpageinfo"> 
    <div class="row">
      <div class="col-md-6">
        <div class="contactbnr__infohldr">
          <label>Phone:</label>
          <span>570.426.4040</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contactbnr__infohldr">
          <label>Fax:</label>
          <span>718.361.0073</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contactbnr__infohldr">
          <label>Customer Services &amp; General Inquiries:</label>
          <a href="mailto:customerservice@lasioinc.com">customerservice@lasioinc.com</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contactbnr__infohldr">
          <label>Education:</label>
          <a href="mailto:education@lasioinc.com">education@lasioinc.com</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contactbnr__infohldr">
          <label>Sales &amp; Distribution:</label>
          <a href="mailto:sales@lasioinc.com">sales@lasioinc.com</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contactbnr__infohldr">
          <label>Press &amp; Media Inquiries:</label>
          <a href="mailto:press@lasioinc.com">  press@lasioinc.com</a>
        </div>
      </div>


    </div>

  </div>
  <div class="contactbnr__btnhldr">
    <button class="blackBtn blackBtn__large burgundyBtn">CHAT WITH US</button>
  </div>
</div>