.logoWhite{
    height: 60px;
}
.colorNavbar{
    background: white;
    color: black;
}
.fontColor:focus, .fontColor:hover {
    text-decoration: underline;
    color: white;
}
a:hover {
    text-decoration: underline;
    color: white;
}
.dropdown-toggle::after {
    display: none;
}
.checkout{
	top: 0px;
    position: fixed;
    right: 0px;
	z-index: 10000;
	width: 50%;
    height: 100%;
    overflow-y: scroll;
    background: #fff;
}
.shoppopupHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
}
.shoppopup__headingHldr{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.subheading{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding: 0px;
}
.shoppopup {
    padding: 15px;
    height: 100%;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.quantityholder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 8px 0 0;
}
.quantityholder .valueButton {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 37px;
    background: rgba(255, 255, 255, 0.60);
    font-size: 20px;
    text-align: center;
    margin: 0px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    font-family: 'Kiona bold';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.quantityholder input.num-box {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.closeShoppopup {
    font-size: 30px;
    color: #1A1A1A;
    font-family: 'Kiona';
    font-weight: normal;
    background: transparent;
    border: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}
.shoppopup__row {
    padding: 15px 0;
    border-bottom: 2px solid #d8d8d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.shoppopup__producthldr {
    text-align: center;
    width: 100%;
    max-width: 213px;
}
.shoppopup__producthldr .shopprdct__img {
    height: auto;
    max-height: 150px;
}
.shoppopup__row .shopprdct__cntnt {
    /* min-height: auto; */
    min-height: 75px;
}

.shopprdct__cntnt {
    min-height: 90px;
    padding: 20px 0 0;
}
.shoppopup__row .shopprdct__img img {
    max-height: 130px;
    max-width: 98px;
    height: auto;
    width: auto;
}
.promocode__holder {
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.totalbftax {
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 25px;
}
.formButton {
    text-align: right;
    margin: 20px 0 0;
}
.slidepopBtn {
    padding-bottom: 20px;
}
.text-right {
    text-align: right!important;
}
.hoverblck {
    border: 1px solid #1A1A1A;
}
.blackBtn {
    display: inline-block;
    background: #1A1A1A;
    color: #fff;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 18px;
    border: 0;
}
.shoppopupHeader[_ngcontent-sjb-c84] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 20px 10px;
}