footer {
    background: #1A1A1A;
    padding: 50px 0 10px;
  }
  
  .footerHeading h1 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Hamlin';
    font-weight: 700;
  }
  
  .footerHeading {
    margin-bottom: 22px;
  }
  
  .footerlogoHldr {
    text-align: center;
    border-bottom: 1px solid #666666;
    padding: 28px 0;
  }
  
  .footerlogoHldr ul li {
    display: inline-block;
    padding: 0 26px;
  }
  
  .ftrBtmMenu {
    padding: 46px 0 60px;
  }
  
  .ftrBtmMenu ul {
    list-style: none;
  }
  
  .ftrBtmMenu h2,
  .ftrBtmMenu h2 a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .ftrBtmMenu h2 a:hover {
    color: #f6220a;
  }
  
  .ftrBtmMenu ul li a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .FtrSocialMedia ul li,
  .ftrbtm__copright ul li {
    display: inline-block;
  }
  
  .FtrSocialMedia ul li {
    padding: 0 5px;
  }
  
  .FtrSocialMedia ul li a {
    display: block;
  
  }
  
  .FtrSocialMedia ul li a img {
    width: 20px;
  }
  
  .FtrSocialMedia ul li a:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  .ftrbtm__copright ul li a {
    display: block;
    color: #fff;
    font-size: 10px;
    text-decoration: underline;
  }
  
  .ftrbtm__copright ul li a {
    border-right: 1px solid #fff;
    padding: 0 5px 0 0;
    line-height: 1;
  }
  
  .ftrbtm__copright ul li:last-child a {
    border-right: none;
  }
  
  .ftrlogomname {
    text-align: center;
  }
  
  .ftrlogomname a {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Hamlin';
    font-weight: 300;
    line-height: 1;
    display: inline-block;
  }
  
  .ftrbtm__copright p {
    font-size: 11px;
    color: #fff;
  }
  
  .FtrSocialMedia {
    text-align: right;
  }
  
  footer ul li a:hover {
    color: #f6220a;
    text-decoration: none;
  }
  
  .ftrBtmMenu__nav {
    display: inline-block;
    text-align: left;
  }
  
  .copyrightSctn {
    margin-top: 30px;
  }
  