<div class="container-fluid">
    <div class="row spacer">

    </div>
    <div class="row">
        <p-table [columns]="cols" styleClass="ui-table" [value]="quoteDetails" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" class="header" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                    <th class="header">
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" class="columnTable">
                        <div *ngIf="col.field == 'issueDate' || col.field == 'validFromDate' || col.field == 'validThruDate'">
                            {{rowData[col.field] | date}}
                        </div>
                        <div *ngIf="col.field != 'issueDate' && col.field != 'validFromDate' && col.field != 'validThruDate'">
                            {{rowData[col.field]}}
                        </div>
                    </td>
                    <td class="columnTable">
                        <a [routerLink]="['/dashboard/viewQuotes',rowData['quoteId']]"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>