<section class="homepagebaner kertainpage unillax-container" id="home">
    <img src="assets/img/education.jpg" alt="" class="unillax-background" style="transform: translateY(0px);">
    <div class="unillax-overlay unillax-element" style="color: rgb(255, 255, 255); transform: translateY(0px);">
        <div class="container-fluid">
            <div class="kertainpage__bannerContent">
                <h2>BECOME A MASTER OF KERATIN.</h2>
            </div>
        </div>
    </div>
</section>

<section class="kertainpagestep1 commonbackground" id="section2"
    style="background: url(assets/img/kertainpagestep1.jpg);">
    <div class="container-fluid">
        <div class="kertainpagestep1__cntnt">
            <h1>STEP 1: GET CERTIFIED ONLINE</h1>
        </div>
    </div>
</section>
<section class="benifitsctn">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-7">
                <p>Elevating your salon business starts with becoming LASIO-Certified first, which you can do quickly
                    and easily by certifying through our <a
                        href="https://lasioonlineacademy.thinkific.com/courses/lasio-way-online-certification/"
                        target="_blank" style="text-decoration: underline"><strong>online certification course located
                            here</strong></a>, or by also attending one of our upcoming Education Tour Dates which are
                    listed below. Once you're certified, you'll have access to direct ordering online here on our site
                    any time day or night, and you'll also have access to our <a href="/contact-us"
                        style="text-decoration: underline"><strong>Keratin Success Team</strong></a> which is here to
                    provide any and all support you need to grow your keratin business.</p>
            </div>
            <div class="col-lg-5 text-lg-right">
                <a href="#buyticketsctn" class="blackBtn hoverblck productSliderCntnt__btn">BOOK A PRO DEMO</a>
            </div>
        </div>
    </div>
</section>
<section id="upcomingsection" class="upcomingClasses">
    <div class="row no-gutters">
        <div class="col-md-4 mob__Dnone">
            <div class="upcomingEvent__date">
                <div class="upcomingClasses__heading">
                    <h1>UPCOMING CLASSES</h1>
                </div>
                <div class="upcomingEvent__height fakeScroll colorRed fakeScroll__scope">
                    <div class="fakeScroll__wrap">
                        <div class="fakeScroll__content">
                            <ul class="upcomingEvent__ul upcomingClasses_ul">
                                <li>
                                    <a href="#">
                                        <span>01/01/2020: </span>
                                        <span>LOS ANGELES </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span> 03/01/2020: </span>
                                        <span> CONNETICUT </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span> 04/23/2020: </span>
                                        <span> PENNSYLVANIA </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span> 04/23/2020: </span>
                                        <span> PENNSYLVANIA </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span> 04/23/2020: </span>
                                        <span> PENNSYLVANIA </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span> 04/23/2020: </span>
                                        <span> PENNSYLVANIA </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span> 04/23/2020: </span>
                                        <span> PENNSYLVANIA </span>
                                    </a>
                                </li>


                            </ul>
                        </div>
                    </div>
                    <div class="fakeScroll__track ">
                        <div class="fakeScroll__bar" style="height: 57.1429%; top: 0%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="buyticketsctn" class="upcomingEvent commonbackground upcomingClasses__background"
                style="background: url(assets/img/upcomingevents.jpg);">
                <div class="upcomingEvent__cntnt">
                    <div class="upcomingEvent__cntntDetail color--white">
                        <span> EDUCATION + CERTIFICATION CLASS</span>
                        <span> CITY, STATE</span>
                        <span> JANUARY 1, 2020</span>
                        <span> $50.00</span>
                    </div>
                    <div class="upcomingEvent__bthldr upcomingEvent__bthldrmd-center">
                        <div class="quantityholder numbers-row">
                            <div class="valueButton inc" data-type="minus">-</div>
                            <input type="number" name="partridge" class="num-box" id="partridge" value="1">
                            <div class="valueButton dec" data-type="plus">+</div>
                        </div>
                        <span class="blackBtn whitebtn btn-large mybagopnbtn">BUY TICKET</span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="upcomingEvent__date upcomingEvent__dateMob desktop-dnone">
    <div class="upcomingEvent__headingMob">
        <h3>2020</h3>
    </div>
    <ul class="upcomingEvent__ul upcomingEvent__ulHalf">
        <li>
            <a href="#upcomingsection">
                <span>01/01/2020: </span>
                <span>LOS ANGELES </span>
            </a>
        </li>
        <li>
            <a href="#upcomingsection">
                <span> 03/01/2020: </span>
                <span> CONNETICUT </span>
            </a>
        </li>
        <li>
            <a href="#upcomingsection">
                <span> 04/23/2020: </span>
                <span> PENNSYLVANIA </span>
            </a>
        </li>
    </ul>
    <div class="upcomingEvent__headingMob">
        <h3>2021</h3>
    </div>
    <ul class="upcomingEvent__ul upcomingEvent__ulHalf">
        <li>
            <a href="#upcomingsection">
                <span>01/01/2020: </span>
                <span>LOS ANGELES </span>
            </a>
        </li>
        <li>
            <a href="#upcomingsection">
                <span> 03/01/2020: </span>
                <span> CONNETICUT </span>
            </a>
        </li>
        <li>
            <a href="#upcomingsection">
                <span> 04/23/2020: </span>
                <span> PENNSYLVANIA </span>
            </a>
        </li>
        <li>
            <a href="#upcomingsection">
                <span> 04/23/2020: </span>
                <span> PENNSYLVANIA </span>
            </a>
        </li>
    </ul>

</div>
<section class="">
    <br>
    <div class="container-fluid">
        <div class="headinghldr">
            <h1>STEP 2: INVEST IN PACKAGES</h1>
        </div>
        <div class="row align-items-center investingsctn commonbackground"
            style="background: url(assets/img/embraceimg.png); background-size: contain !important">
            <div class="col-md-12 text-center">
                <a href="javascript:void(0);" class="blackBtn hoverblck blackBtn__large">SHOP NOW</a>
            </div>
        </div>
    </div>
</section>