@font-face {
    font-family: 'Kiona bold';
    src: url('Kiona-Bold.eot');
    src: url('Kiona-Bold.eot?#iefix') format('embedded-opentype'),
        url('Kiona-Bold.woff2') format('woff2'),
        url('Kiona-Bold.woff') format('woff'),
        url('Kiona-Bold.ttf') format('truetype'),
        url('Kiona-Bold.svg#Kiona-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kiona';
    src: url('Kiona-Light.woff2') format('woff2'),
        url('Kiona-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kiona';
    src: url('Kiona-Regular.woff2') format('woff2'),
        url('Kiona-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Lara';
    src: url('Lara-LightItalic.eot');
    src: url('Lara-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Lara-LightItalic.woff2') format('woff2'),
        url('Lara-LightItalic.woff') format('woff'),
        url('Lara-LightItalic.ttf') format('truetype'),
        url('Lara-LightItalic.svg#Lara-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('AvenirNextLTPro-Regular.eot');
    src: url('AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('AvenirNextLTPro-Regular.woff') format('woff'),
        url('AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-demi';
    src: url('AvenirNextLTPro-Demi.eot');
    src: url('AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('AvenirNextLTPro-Demi.woff') format('woff'),
        url('AvenirNextLTPro-Demi.ttf') format('truetype'),
        url('AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Light.eot');
    src: url('AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-Light.woff2') format('woff2'),
        url('AvenirLTStd-Light.woff') format('woff'),
        url('AvenirLTStd-Light.ttf') format('truetype'),
        url('AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-medium';
    src: url('AvenirLTStd-Roman.eot');
    src: url('AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-Roman.woff2') format('woff2'),
        url('AvenirLTStd-Roman.woff') format('woff'),
        url('AvenirLTStd-Roman.ttf') format('truetype'),
        url('AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-bold';
    src: url('AvenirLTStd-Black.eot');
    src: url('AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-Black.woff2') format('woff2'),
        url('AvenirLTStd-Black.woff') format('woff'),
        url('AvenirLTStd-Black.ttf') format('truetype'),
        url('AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}



@font-face {
    font-family: 'Hamlin';
    src: url('Hamlin-ExtraBold.eot');
    src: url('Hamlin-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Hamlin-ExtraBold.woff2') format('woff2'),
        url('Hamlin-ExtraBold.woff') format('woff'),
        url('Hamlin-ExtraBold.ttf') format('truetype'),
        url('Hamlin-ExtraBold.svg#Hamlin-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Hamlin';
    src: url('Hamlin-Light.eot');
    src: url('Hamlin-Light.eot?#iefix') format('embedded-opentype'),
        url('Hamlin-Light.woff2') format('woff2'),
        url('Hamlin-Light.woff') format('woff'),
        url('Hamlin-Light.ttf') format('truetype'),
        url('Hamlin-Light.svg#Hamlin-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hamlin';
    src: url('Hamlin-Regular.eot');
    src: url('Hamlin-Regular.eot?#iefix') format('embedded-opentype'),
        url('Hamlin-Regular.woff2') format('woff2'),
        url('Hamlin-Regular.woff') format('woff'),
        url('Hamlin-Regular.ttf') format('truetype'),
        url('Hamlin-Regular.svg#Hamlin-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hamlin';
    src: url('Hamlin-Bold.eot');
    src: url('Hamlin-Bold.eot?#iefix') format('embedded-opentype'),
        url('Hamlin-Bold.woff2') format('woff2'),
        url('Hamlin-Bold.woff') format('woff'),
        url('Hamlin-Bold.ttf') format('truetype'),
        url('Hamlin-Bold.svg#Hamlin-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}