<br><br><br><br>
<div style="margin-top: 5%;margin-bottom: 5%;">
<h3 style="margin-left: 13%;">Messages</h3>
<br>
<table class="table table-striped" style="width: 80%;margin: 0px auto;">
    <thead>
    <tr>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Subject </th>
      <th scope="col">Sent Date</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of messageList">
     
      <td>{{message.partyIdFromDesc}}</td>
      <td>{{message.partyIdToDesc}}</td>
      <td>{{message.subject}}</td>
      <td>{{message.entryDate|date}}</td>
      <td (click)="viewMessage(message.communicationEventId)" style="color:#0b8dcb;cursor: pointer;">Read</td>
    </tr>
    </tbody>
  </table>
</div>