<br><br><br><br>
<div style="margin-top: 5%;margin-bottom: 5%;">
<h3 style="margin-left: 13%;">Messages</h3>
<br>
<table class="table table-striped" style="width: 73%;margin-left: 12%;">
    <thead>
    <tr>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Subject </th>
      <th scope="col">Sent Date</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <th scope="row"> 
          </th>
      <td>
      
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>