.accordion {
    background-color: #eee;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: 0;
    font-size: 15px;
    transition: .4s;
    border-bottom: 1px dotted grey;
}