<div class="col-md-12 col-xs-12 bgwhite">
    <h2 class="green f22 mt30 pt10">Frequently Asked Questions</h2>
    <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-level-down"
                aria-hidden="true"></i>&nbsp;&nbsp;What exactly is CBD?
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
                CBD, short for cannabidiol, is just one of over 100 unique compounds
                called cannabinoids that are found within the cannabis plant. CBD is found throughout the seeds, stalk,
                and flowers of various types of cannabis plants, including hemp and marijuana. Cannabidiol occurs
                naturally in significant quantities in cannabis, so it is relatively easily extracted from the plant.
                Unlike tetrahydrocannabinol (THC), CBD is non-psychoactive and doesn’t elicit a “high” feeling when
                consumed, making it safe to use by members of your entire family. Cannabinoids including CBD interact
                with the body through the endocannabinoid system (ECS), which is made up of receptors in the brain,
                central nervous system, and peripheral nervous system (nerves throughout the body’s limbs and organs).
                The endocannabinoid system plays a role in many of the body’s biological responses, including balance in
                our body’s immune system, communication between cells, appetite, metabolism, memory, and more.
          </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fa fa-level-down"
                aria-hidden="true"></i>&nbsp;&nbsp;What is CBD used for?
            </button>
          </h5>
        </div>
    
        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <strong>Relieves Pain and Inflammation</strong><br> Among common CBD
            benefits, natural pain relief tops the list for many. Evidence suggests that CBD also known as
            cannabidiol, may prove useful in pain modulation by inhibiting pain transmission in pain pathways. A
            2012 study published in the Journal of Experimental Medicine found that CBD significantly suppressed
            chronic inflammatory and neuropathic pain Researchers suggest that CBD and other non-psychoactive
            components of hemp may represent a novel class of therapeutic agents for the treatment of chronic
            pain.<br> <br><strong>Has Anti-psychotic Effects</strong><br> Research shows that CBD benefits include
            producing anti psychotic effects. Studies show that CBD prevents human experimental psychosis and is
            effective in open case reports and clinical trials in patients with schizophrenia, with remarkable
            results. <br><br><strong>Reduces Anxiety and Depression</strong><br> Studies using patients with anxiety
            and depression clearly point to an anti-anxiety effect caused by CBD. Cannabidiol has shown to reduce
            anxiety and depression in patients with social anxiety disorder and researchers suggest that it may also
            be effective for panic disorder, obsessive compulsive disorder, social anxiety disorder and
            post-traumatic stress disorder. <br><br><strong>Helps to Fight Cancer</strong><br> Several scientific
            reports demonstrate that CBD benefits include CBD’s ability to inhibit cancer cell migration, adhesion
            and invasion. <br><br><strong>CBD Relieves Stress and Helps With Sleep Issues</strong><br> Even if you
            are healthy, CBD can do wonders to relieve your stress from life. Again it is not psyco-active, but it
            can help you relax and prepare you for a good night’s sleep.
          </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="fa fa-level-down" aria-hidden="true"></i>&nbsp;&nbsp;Since CBD is not psychoactive, is it legal?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            While it’s true that CBD is legal in all 50 states, there are
                situations when it isn’t legal. The difference between legal and illegal typically depends on several
                important factors determined by the state in question. There is, however, one very important factor that
                is a crucial determinant across all states, and that is where the CBD is derived from–hemp or marijuana.
                <br><br> Now, marijuana and hemp are both members of the cannabis family, so they do share a lot of
                characteristics. There is, however, a crucial difference between the two–the amount of psychoactive
                Tetrahydrocannabinol (THC) each plant produces. <br><br> While marijuana can contain up to 30% THC, hemp
                contains no more than 0.3% THC. In other words, marijuana can get you really high, while hemp has such a
                low amount of THC, that it would be impossible to get high off it. <br><br> In many states, “CBD-only”
                products have less than 0.3 percent or 0.5 percent THC CBD oil is legal. However, any product that
                contains THC, even in small amounts, is considered marijuana under federal law and is illegal. <br><br>
                The DEA’s stance, all along, has been that cannabinoids are marijuana and thus are a Schedule I
                substance and illegal in all circumstances. So, for now, CBD products are illegal substances and DEA
                will continue to treat them as such, but CBD from hemp is legal in all 50 states if THC is below .3%.
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <i class="fa fa-level-down" aria-hidden="true"></i>&nbsp;&nbsp;Can CBD show upon a drug test?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            The straight answer is absolutely not. The reason being is that drug
                labs do not test for CBD. Drug labs test for THC, the psycho-active compound in Marijuana. <br><br> The
                issue is though, THC can be found in both CBD made from a hemp plant as well as CBD made from a
                marijuana plant. Therefore, you must be diligent in understanding the percent THC in any CBD product you
                are taking. The legal limit is .3% THC. <br><br> Also, it is remotely possible to fail a drug test for
                THC, even when taking hemp CBD with less than .3% THC. If you know you are scheduled to take a drug
                test, stop taking the CBD at least 10-15 days before the drug test.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <i class="fa fa-level-down" aria-hidden="true"></i>&nbsp;&nbsp;Do some CBD products contain THC?
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            Though CBD does not contain THC, it is important to know that a CBD
            product, such as tinctures, oils, edibles, etc., may contain some THC due to both compounds being
            present in the cannabis plant when the product is made. <br><br> A full spectrum hemp CBD oil will
            contain other compounds including THC at typically below the legal limit of .3%. CBD isolate on the
            other hand is a pure CBD with no other compounds, thus no THC. 
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <i class="fa fa-level-down" aria-hidden="true"></i>&nbsp;&nbsp;How do I use CBD?
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            Before We Start educate yourself on the benefits of hemp oil and read
                about how other people are using it and determining how much to take. The manufacture recommended
                serving size on hemp supplements may not be perfect for everyone, so we encourage you to experiment.
                <br><br> Step 1 <br><br> Shake well! <br><br> Separation in hemp oil products is completely natural and
                to be expected. Some bottles are impossible to see into (which is good — dark bottles help block light
                for optimal shelf life), but if you can, take note of how the oil tends to settle onto the bottom. Once
                you start shaking, it quickly blends. <br><br> Step 2 <br><br> Squeeze the dropper top to fill the
                pipette with oil and dispense the oil under your tongue. You can swish it around a little, but most
                people like to just let it sit. You can add as many droppers full as needed; don’t feel you need to
                restrict yourself to the recommended serving size. <br><br> The side effects are minimal. Many people
                have noted a slight sedative effect at larger quantities. This may be beneficial if you have trouble
                sleeping, so consider using it before bed. <br><br> Allow the oil to absorb into your system by holding
                the oil in your mouth for 60-90 seconds before swallowing. You may choose to swish it around, but it’s
                not necessary. <br><br> Step 3 <br><br> Repeat as necessary throughout the day. As mentioned above, hemp
                oil may be slightly sedative at higher amounts, or simply calming and relaxing at a lower serving size. 
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <i class="fa fa-level-down" aria-hidden="true"></i>&nbsp;&nbsp;Can I buy CBD products online?
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body">
            Of course, you can buy CBD products online. Checkout our website and
            our premium CBD products. We offer the highest quality and most competitive priced products on the
            internet. <br><br> <a ui-sref="app.ecommerce.categories" [style.color]="color"
                href="#/allCategories">Here is our link to the product page. Check it out.</a>  
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                <i class="fa fa-level-down" aria-hidden="true"></i>&nbsp;&nbsp;Do I need a medical marijuana card to buy CBD?
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="card-body">
            Since the CBD molecule is the same CBD molecule in hemp and Marijuana,
                it doesn’t matter how or where you get your CBD molecule, except to the legal system especially with
                marijuana CBD. What is important about CBD is that you do NOT take CBD in a single or isolated form if
                you want to experience the maximum results. <br><br> The reason for NOT ingesting a single cannabinoid
                is because of the entourage effect. The best and most efficient CBD Products will have a blend of many
                other Cannabinoids extracted from the whole plant, among other ancient wonders. More Cannabinoid
                diversity will bring a more holistic effect for the results you seek to achieve with hemp CBD. <br><br>
                Full Spectrum CBD with many other cannabinoids and compounds in the product, is far more effective for
                what ever issue you are trying to address with CBD. From a legal standpoint. CBD made from Hemp is legal
                to sell in all 50 states. CBD from marijuana is controlled and, in many cases, illegal as stated by the
                DEA. 
          </div>
        </div>
      </div>
</div>
