<footer>
    <div class="container">
      <!-- <div class="footerHeading">
        <h1>FEATURED IN</h1>
      </div>
      <div class="footerlogoHldr">
        <ul>
          <li><img src="assets/img/ftrlogo1.svg" alt=""></li>
          <li><img src="assets/img/ftrlogo2.svg" alt=""></li>
          <li><img src="assets/img/ftrlogo3.svg" alt=""></li>
          <li><img src="assets/img/ftrlogo4.svg" alt=""></li>
          <li><img src="assets/img/ftrlogo5.svg" alt=""></li>
          <li><img src="assets/img/ftrlogo6.svg" alt=""></li>
        </ul>
      </div> -->

      <div class="ftrBtmMenu">
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="ftrBtmMenu__nav">
              <!-- <h2><a routerLink="/dashboard/shop-all">SHOP</a></h2> -->
              <ul>
                <li><a href="/dashboard/shop-all" target="_blank"> Client Login </a></li>
                <li><a href="/dashboard/shop-all" target="_blank"> Proof Approval </a></li>
                <li><a href="/dashboard/shop-all" target="_blank"> Place an Print Order </a></li>
                <li><a href="/dashboard/shop-all" target="_blank"> Shop Promotional Products/Apparel </a></li>
                <li><a href="/dashboard/shop-all" target="_blank"> Request a Quote </a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="ftrBtmMenu__nav">
              <ul>
                <h2><a href="javascript:void(0);">CONTACT</a></h2>
                <li><a href="javascript:void(0);" data-id="tabOne"> Blue Chip </a></li>
                <li><a href="javascript:void(0);" data-id="tabTwo"> 17501 W 98th Street </a></li>
                <li><a href="javascript:void(0);" data-id="tabThree"> Pillar #18-55 </a></li>
                <li><a href="javascript:void(0);" data-id="tabFour"> Lenexa, KS  66219 </a></li>
                <li><a href="javascript:void(0);" data-id="tabOne"> P:  913-541-9777 </a></li>
                <li><a href="javascript:void(0);" data-id="tabTwo"> F: 913-541-9789 </a></li>
                <li><a href="javascript:void(0);" data-id="tabThree"> orders@bluechipkc.com </a></li>
                <li><a href="javascript:void(0);" data-id="tabFour"> csr@bluechipkc.com </a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="ftrBtmMenu__nav">
              <ul>
                <!-- <h2><a href="javascript:void(0);">CONTACT</a></h2>
                <li><a href="javascript:void(0);" data-id="tabOne"> Blue Chip </a></li>
                <li><a href="javascript:void(0);" data-id="tabTwo"> 17501 W 98th Street </a></li>
                <li><a href="javascript:void(0);" data-id="tabThree"> Pillar #18-55 </a></li>
                <li><a href="javascript:void(0);" data-id="tabFour"> Lenexa, KS  66219 </a></li>
                <li><a href="javascript:void(0);" data-id="tabOne"> P:  913-541-9777 </a></li>
                <li><a href="javascript:void(0);" data-id="tabTwo"> F: 913-541-9789 </a></li>
                <li><a href="javascript:void(0);" data-id="tabThree"> orders@bluechipkc.com </a></li>
                <li><a href="javascript:void(0);" data-id="tabFour"> csr@bluechipkc.com </a></li> -->
              </ul>
            </div>
          </div>

        </div>

      </div>
      <div class="copyrightSctn">
        <div class="row align-items-center">

          <div class="col-md-4 order-md-3">
            <div class="FtrSocialMedia">
              <ul>
                <li><a href="https://instagram.com/lasioprofessional/" target="_blank"><img src="assets/img/instagram.svg" alt=""></a></li>
                <li><a href="https://youtube.com/channel/UCqUWDjjeQDB1vAXA5eg_ZjA" target="_blank"><img src="assets/img/youtube.svg" alt=""></a></li>
                <li><a href="https://facebook.com/lasioprofessionalhaircare" target="_blank"><img src="assets/img/facebook.svg" alt=""></a></li>
                <li><a href="https://twitter.com/lasio_pro" target="_blank"><img src="assets/img/twitter.svg" alt=""></a></li>
                <li><a href="https://pinterest.com/LASIOPRO/" target="_blank"><img src="assets/img/pinterest.svg" alt=""></a>
                </li>
              </ul>
            </div>

          </div>
          <div class="col-md-4 order-md-1">
            <div class="ftrbtm__copright">
              <p> © 2018 Blue Chip, Inc. All rights reserved.</p>
              <ul>
                <li><a href="javascript:void(0);">Terms &amp; Conditions</a></li>
                <li><a href="javascript:void(0);">Privacy Policy</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-4 order-md-2">
            <div class="ftrlogomname">
              <a href="javascript:void(0);" id="bcktp" class="scrolltop">Blue Chip</a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </footer>