<footer>
    <div class="container">
      <div class="footerHeading">
        <h1>FEATURED IN</h1>
      </div>
      <div class="footerlogoHldr">
        <ul>
          <li><img src="assets/img/ftrlogo1.svg" alt=""></li>
          <li><img src="assets/img/ftrlogo2.svg" alt=""></li>
          <li><img src="assets/img/ftrlogo3.svg" alt=""></li>
          <li><img src="assets/img/ftrlogo4.svg" alt=""></li>
          <li><img src="assets/img/ftrlogo5.svg" alt=""></li>
          <li><img src="assets/img/ftrlogo6.svg" alt=""></li>
        </ul>
      </div>

      <div class="ftrBtmMenu">
        <div class="row">
          <div class="col-md-3 text-center">
            <div class="ftrBtmMenu__nav">
              <h2><a routerLink="/dashboard/shop-all">SHOP</a></h2>
              <ul>
                <li><a routerLink="/dashboard/shop-all"> ALL </a></li>
                <li><a routerLink="/dashboard/shop-all"> MAINTAIN </a></li>
                <li><a routerLink="/dashboard/shop-all"> PROTECT </a></li>
                <li><a routerLink="/dashboard/shop-all"> STYLE </a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="ftrBtmMenu__nav">
              <ul>
                <h2><a href="javascript:void(0);">FAQS</a></h2>
                <li><a href="javascript:void(0);" data-id="tabOne"> keratin treatments </a></li>
                <li><a  href="javascript:void(0);" data-id="tabTwo"> products </a></li>
                <li><a href="javascript:void(0);" data-id="tabThree"> Education </a></li>
                <li><a  href="javascript:void(0);" data-id="tabFour"> shipping &amp; returns </a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="ftrBtmMenu__nav">
              <h2><a href="javascript:void(0);">MY ACCOUNT</a></h2>
              <ul>
                <li><a href="javascript:void(0);"> MY BAG </a></li>
                <li><a href="javascript:void(0);"> CHECKOUT </a></li>
                <li><a href="javascript:void(0);"> LOG OUT </a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="ftrBtmMenu__nav">
              <h2><a href="javascript:void(0);">FOR PROS</a></h2>
              <ul>
                <li>
                  <h2> <a href="javascript:void(0);"> ABOUT </a></h2>
                </li>
                <li>
                  <h2> <a href="javascript:void(0);"> CONTACT </a></h2>
                </li>

              </ul>
            </div>
          </div>

        </div>

      </div>
      <div class="copyrightSctn">
        <div class="row align-items-center">

          <div class="col-md-4 order-md-3">
            <div class="FtrSocialMedia">
              <ul>
                <li><a href="https://instagram.com/lasioprofessional/" target="_blank"><img src="assets/img/instagram.svg" alt=""></a></li>
                <li><a href="https://youtube.com/channel/UCqUWDjjeQDB1vAXA5eg_ZjA" target="_blank"><img src="assets/img/youtube.svg" alt=""></a></li>
                <li><a href="https://facebook.com/lasioprofessionalhaircare" target="_blank"><img src="assets/img/facebook.svg" alt=""></a></li>
                <li><a href="https://twitter.com/lasio_pro" target="_blank"><img src="assets/img/twitter.svg" alt=""></a></li>
                <li><a href="https://pinterest.com/LASIOPRO/" target="_blank"><img src="assets/img/pinterest.svg" alt=""></a>
                </li>
              </ul>
            </div>

          </div>
          <div class="col-md-4 order-md-1">
            <div class="ftrbtm__copright">
              <p> ©2020 LASIO, Inc. All rights reserved.</p>
              <ul>
                <li><a href="javascript:void(0);">Terms &amp; Conditions</a></li>
                <li><a href="javascript:void(0);">Privacy Policy</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-4 order-md-2">
            <div class="ftrlogomname">
              <a href="javascript:void(0);" id="bcktp" class="scrolltop">LASIO</a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </footer>