<br><br><br><br>
<section class="faqpagesection ErrorPage">
  <div class="container">
    <div>
      <h1 class="headinghldr text-left">Shopping Lists</h1>
      <h6 style="color: #0b8dcb;" class="headinghldr text-right">Create new</h6>

    </div>

    <div class="comonformOuter">
      <form action="">
        <div class="row justify-content-end">
          <div class="col-lg-10 col-md-12">
            <div class="row mb-5">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Shopping List</label>
                  <select>
                    <option>Choose…</option>
                    <option>Frequently Ordered Products</option>

                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div style="    margin-top: 6%;">
                  <!-- <input type="submit" value="EDIT" name=""> -->
                  <div class="form-group">
                    <button style="padding: 2%; border: none;width: 17%;background-color: #0b8dcb;"
                      (click)="downloadAvailable();">Edit</button>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div>
                  <h6 class="headinghldr text-left">Shopping List Detail New Shopping List</h6>

                </div>
              </div>
              <div class="col-md-6">
                <h6 style="color: #0b8dcb;" class="headinghldr text-right"><a>Create a Request For Quote |</a>
                  <a>Create New Quote</a></h6>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">List Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">List Type</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Parent List</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Description</label>
                  <input type="text" class="form-control">
                </div>
              </div>

              <div class="col-md-6"></div>
              <div class="col-md-12 DOB">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-3 col-6">
                      <div class="form-group">
                        <label for="">Public</label>
                        <select>
                          <option>Choose…</option>
                          <option>Y</option>
                          <option>N</option>

                        </select>
                      </div>
                    </div>
                    <div class="col-md-3 col-6">
                      <div class="form-group">
                        <label for="">Active</label>
                        <select>
                          <option>Y</option>
                          <option>N</option>
                        </select>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <hr class="separator">
              <div class="form-group">
                <button style="    padding: 26%;
                  border: none;
                  width: 164%;
                  margin-left: 345%;
                  background-color: #0b8dcb;" (click)="downloadAvailable();">Save</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div style="margin-top: -10%;">
      <div>
        <h6 style="margin-left: 13%;">List Items New Shopping List</h6>
      </div><br>
      <table class="table table-striped" style="width: 73%;margin-left: 12%;">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Start Date</th>
            <th scope="col">No. of Days</th>
            <th scope="col">No. of Persons</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> </th>
            <td>

            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <br> <br>
    <div>
      <div>
        <h6 style="margin-left: 13%;">Quick Add To Shopping List</h6>
      </div><br>
      <div class="comonformOuter">
        <form action="">
          <div class="row justify-content-end">
            <div class="col-lg-10 col-md-12">
              <div class="row mb-5">

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Product Id</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Quantity</label>
                    <input type="text" class="form-control">
                  </div>
                </div>

                <div class="col-md-6"></div>
                <hr class="separator">
                <div class="form-group" style="margin-top: -7%;">
                  <button style="padding: 9%;
                  border: none;
                  width: 100%;
                  margin-left: 282%;
                  background-color: #0b8dcb;" (click)="downloadAvailable();">Add to shoping list</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div style="margin-top: -7%;">
      <div>
        <h6 style="margin-left: 13%;">Shopping List Price Totals - New Shopping List</h6>
      </div>
      <br>
      <form action="">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6 myAccount--Inner">
            <p><strong>Child List Total Price:</strong> Monica Doe</p>
            <p><strong>List Items Total Price:</strong> monica@email.com</p>
            <p><strong>Grand Total:</strong> 000-000-0000</p>



          </div>

        </div>
      </form>
    </div>
  </div>
</section>