<div class="mg0" [style.background]='color'>
    <div class="inner-container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" [src]='logo' />
            <p id="profile-name" class="profile-name-card"></p>
            <form [formGroup]="loginForm" (ngSubmit)="userLogin()" class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" formControlName="username" class="form-control" placeholder="Username" required autofocus>
                <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label> 
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" [style.background]='fontColor' [disabled]="!loginForm.valid" type="submit">Sign in</button>
            </form>
            <a [routerLink]="['/createUser']" class="forgot-password" [style.color]='fontColor'>
                Forgot the password?
            </a>
        </div>
    </div>
</div>