<section class="homepagebaner homepagebaner--pro  unillax-container" id="home">
    <img src="assets/img/homebaner.jpg" alt="" class="unillax-background" style="transform: translateY(0px);">
    <div class="unillax-overlay unillax-element" style="color: rgb(255, 255, 255); transform: translateY(162.5px);">
        <div class="container-fluid">
            <div class="bannerContent">
                <h1><span [style.background]="color">TRANSFORM YOUR KERATIN BUSINESS</span></h1>
                <p></p>
                <a href="javascript:void(0);" id="arrow" class="scrlbtmTringle"><img src="assets/img/arrowDown.svg" alt=""></a>
            </div>
        </div>
    </div>
</section>
<section class="upcomingEvent commonbackground" id="section2">
    <div class="container-fluid mob__Dnone">
        <div class="upcomingEvent__heading">
            <h1>UPCOMING EVENTS</h1>
        </div>
    </div>
    <div class="upcomingEvent__cntnt">
        <div class="upcomingEvent__inrrRow">
            <div class="upcomingEvent__date mob__Dnone">
                <div class="upcomingEvent__height fakeScroll colorRed fakeScroll__scope">
                    <div class="fakeScroll__wrap">
                        <div class="fakeScroll__content">
                            <ul class="upcomingEvent__ul">
                                <li>
                                    <a href="JavaScript:Void(0);">
                                        <span>01/01/2020: </span>
                                        <span>LOS ANGELES </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:Void(0);">
                                        <span> 03/01/2020: </span>
                                        <span> CONNETICUT </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:Void(0);">
                                        <span> 04/23/2020: </span>
                                        <span> PENNSYLVANIA </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="fakeScroll__track ">
                        <div class="fakeScroll__bar" style="height: 100%; top: 0%; display: none;"></div>
                    </div>
                </div>
            </div>
            <div class="upcomingEvent__cntntDetail hmpge__Upcmngcntnt">
                <span> EDUCATION + CERTIFICATION CLASS</span>
                <span> CITY, STATE</span>
                <span> JANUARY 1, 2020</span>
                <span> $50.00</span>
            </div>
        </div>
        <div class="upcomingEvent__bthldr">
            <div class="desktop-dnone">
                <div class="quantityholder numbers-row">
                    <div class="valueButton inc" data-type="minus">-</div>
                    <input type="number" name="partridge" class="num-box" id="partridge" value="1">
                    <div class="valueButton dec" data-type="plus">+</div>
                </div>
                <a href="javascript:void(0);" class="blackBtn whitebtn btn-large mybagopnbtn">BUY TICKET</a>
            </div>
            <div class="mob__Dnone">
                <a href="javascript:void(0);" class="blackBtn">LEARN MORE</a>
            </div>
        </div>
    </div>
</section>
<section class="stepSection">
    <div class="row no-gutters">
        <div class="col-md-4">
            <a href="javascript:void(0);" class="stepSection__anchr">
                <div class="stepholder">
                    <span class="stepholder__counter">STEP 1</span>
                    <img src="assets/img/stepimg1.png" alt="">
                    <div class="stepholder__cntnt">
                        <span> GET CERTIFIED ONLINE</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="javascript:void(0);" class="stepSection__anchr">
                <div class="stepholder">
                    <span class="stepholder__counter">STEP 2</span>
                    <img src="assets/img/stepimg2.png" alt="">
                    <div class="stepholder__cntnt">
                        <span> INVEST IN A PACKAGE </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="javascript:void(0);" class="stepSection__anchr">
                <div class="stepholder">
                    <span class="stepholder__counter">STEP 3</span>
                    <img src="assets/img/stepimg3.png" alt="">
                    <div class="stepholder__cntnt">
                        <span> LEVEL UP YOUR BUSINESS </span>
                    </div>
                </div>
            </a>
        </div>

    </div>
</section>

<section class="testimonial">
    <div class="container">
        <div class="headinghldr">
            <h1>WHAT OUR CLIENTS &amp; CUSTOMERS HAVE TO SAY</h1>
        </div>

        <div id="ndrsl-5dfc26a887d3740573fd7a66" class="ndrsl-widget"></div>
    </div>
</section>
<section class="videosection">
    <div class="videosection__container">
        <div class=" form-row grid grid-sizer " style="position: relative; height: 798px;">
            <div class="col-md-8 grid-item respordr-1" style="position: absolute; left: 0%; top: 0px;">
                <div class="videosldrhldr">
                    <div class="videosection__slider">
                        <div>
                            <div class="videosection__sliderimg">
                                <a href="javascript:void(0);"><img src="assets/img/slider1.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 col-md-4  grid-sizer respordr-3 grid-item "
                style="position: absolute; left: 66.6651%; top: 0px;">
                <div class="videosection__videohldr" onclick="playVideo(this)">
                    <div class="videosection__imgCntnt">
                        <img src="assets/img/videoimg1.png" alt="">
                        <span class="playbtn"><img src="assets/img/playbtn.svg" alt=""></span>
                        <span class="videosection__heading videosection__headingLarge  heading__rghtBtm"><span>KERATIN
                                TREATMENT BENEFITS</span></span>
                    </div>
                    <div class="videosection__videoIIframe">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/XHzO99_s7lE?list=PLFKav7GNn7aFRZD7J19XOCwQsfyvU-U3K&amp;mute=1&amp;controls=0&amp;start=2"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="videosection__videohldr heightSmall" onclick="playVideo(this)">
                    <div class="videosection__imgCntnt">
                        <img src="assets/img/videoimg2.png" alt="">
                        <span class="playbtn"><img src="assets/img/playbtn.svg" alt=""></span>
                        <span class="videosection__heading heading__lftTop"><span> FOR THE ACTIVE</span></span>
                    </div>
                    <div class="videosection__videoIIframe">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/GPqVaNz7f9E?list=PLFKav7GNn7aEqNPA9N7jbx2kcPA_RXi15&amp;mute=1&amp;controls=0&amp;start=2"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="videosection__videohldr" onclick="playVideo(this)">
                    <div class="videosection__imgCntnt">
                        <img src="assets/img/videoimg5.png" alt="">
                        <span class="playbtn"><img src="assets/img/playbtn.svg" alt=""></span>
                        <span class="videosection__heading heading__lftBtm"><span>FOR GENTS</span></span>
                    </div>
                    <div class="videosection__videoIIframe">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/3G9UXI7cKkA?list=PLFKav7GNn7aFRZD7J19XOCwQsfyvU-U3K&amp;mute=1&amp;controls=0&amp;start=2"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""></iframe>
                    </div>
                </div>

            </div>
            <div class="col-6 col-md-8 grid-sizer respordr-2 grid-item "
                style="position: absolute; left: 0%; top: 500px;">
                <div class="form-row row">

                    <div class="col-md-7">
                        <div class="videosection__videohldr videosection__largevideohldr" onclick="playVideo(this)">
                            <div class="videosection__imgCntnt">
                                <img src="assets/img/videoimg3.png" alt="">
                                <span class="playbtn"><img src="assets/img/playbtn.svg" alt=""></span>
                                <span class="videosection__heading heading__rghtBtm"><span> HOW TO’S</span></span>
                            </div>
                            <div class="videosection__videoIIframe">
                                <iframe width="560" height="315"
                                    src="https://www.youtube.com/embed/1DaAKp03MeA?list=PLFKav7GNn7aFRZD7J19XOCwQsfyvU-U3K&amp;mute=1&amp;controls=0&amp;start=2"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="videosection__videohldr videosection__largevideohldr" onclick="playVideo(this)">
                            <div class="videosection__imgCntnt">
                                <img src="assets/img/videoimg4.png" alt="">
                                <span class="playbtn"><img src="assets/img/playbtn.svg" alt=""></span>
                                <span class="videosection__heading heading__lftTop"><span>STYLE FOR A FUN NIGHT
                                        OUT</span></span>
                            </div>
                            <div class="videosection__videoIIframe">
                                <iframe width="560" height="315"
                                    src="https://www.youtube.com/embed/ly5ikcwQZ-c?list=PLFKav7GNn7aFRZD7J19XOCwQsfyvU-U3K&amp;mute=1&amp;controls=0&amp;start=2"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>