.Box-container{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    a{
        font-size: 12px;
        margin-left: 15px;
    }
}
.card-body{
    text-align: center;
}
.productImage{
    height: 100px;
}
.productImages{
    height: 200px;
}
.card-title{
    text-align: left;
    font-size: 80%;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.productName{
    margin-top: 10px;
}
.products{
    width: auto;
}
.card.productCategory{
    width: calc(100%/3);
}
.tabHistory{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 2px;
}
.Spacer{
    height: 10px;
}
.SpacerMenu{
    height: 5px;
}
.paddingNone{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
