<div class="Box-container">
    <div class="row Spacer">
    </div>
    <div class="row tabHistory">
        <div class="col-md-2 paddingNone">
            <a><u>Main</u></a>
        </div>
        <div class="col-md-8 paddingNone">
        </div>
        <div class="col-md-2 paddingNone">
            <a><u>Search in Category</u></a>
        </div>
    </div>
    <div class="row SpacerMenu">
    </div>
    <div class="row tabHistory">
        <div class="col-md-12">
            <h3>{{productName}}</h3>
            <h6>{{longDescription}}</h6>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-12 subCategories" *ngIf="subCategoryData">
            <p>Sub Categories :</p>
            <div style="display: flex;">
                <div class="card products" *ngFor="let subCategory of subCategoryData">
                    <img *ngIf="subCategory.categoryImageUrl == null" class="productImage"
                        src="../../../assets/images/product.png">
                    <img *ngIf="subCategory.categoryImageUrl != null" class="productImage"
                        src="{{subCategory.categoryImageUrl}}" class="card-img-top">
                    <div class="card-body productName">
                        <h5 class="card-title">{{subCategory.categoryName}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-12 subCategories" *ngIf="categoryData">
            <div style="display: flex; flex-wrap: wrap;">
                <div class="card productCategory" *ngFor="let category of categoryData; let i=index">
                    <img src="../../../assets/images/product.png" class="card-img-top productImages" alt="...">
                    <div class="card-body">
                        <div style="display: flex; justify-content: space-between;">
                            <h5 class="card-title" [style.color]="color" style="height: 30px;"><b>{{category.product.internalName}}</b></h5>
                            <span><i class="fa fa-compress" aria-hidden="true"></i></span>
                        </div>
                        <p class="card-text" style="margin: 0px;">{{category.product.description}}</p>
                        <div class="card-body" *ngIf="category.productSummary.price">
                            <input type="number" [(ngModel)]="quantity[i]" name="quantity" min="1" max="5">
                            <div>${{category.productSummary.price.basePrice}}</div>
                            <button [style.background]="color" class="btn btn-success" (click)="addProductToCart(quantity[i],category.product.productId)">Add to cart</button>
                        </div>
                        <div class="card-body" *ngIf="!category.productSummary.price">
                            <!-- <input type="number" [(ngModel)]="quantity[i]" name="quantity" min="1" max="5"> -->
                            <div><b>Price Not Available</b></div>
                            <!-- <button [style.background]="color" class="btn btn-success" (click)="addProductToCart(quantity[i],category.product.productId)">Add to cart</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>