.checkout{
	top: 0px;
    position: fixed;
    right: 0px;
	z-index: 10000;
	width: 50%;
    height: 100%;
    overflow-y: scroll;
    background: #fff;
}
#myBag{
    padding: 25px;
}
#checkoutBagShow{
    padding: 25px;
}
#orderConfirmationPaymentShow{
    padding: 25px;
}
#bagFinishShow{
    padding: 25px;
}
.globalLoader{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    background-color: #777777;
    opacity: 0.5;
    z-index: 2;
}