<br><br><br><br>
<div style="margin-top: 5%;margin-bottom: 5%;">
  <h3 style="margin-left: 13%;"><span>Quote #{{id}}</span>&nbsp;&nbsp;
    <span>Related Documents</span> </h3>
  <br>
  <div style="margin-left: 13%;">
    <span><b>Customer:</b>{{viewQuote?.partySummary.firstName}} {{viewQuote?.partySummary.middleName}} {{viewQuote?.partySummary.lastName}}</span>
    &nbsp;&nbsp;<span><b>Job Name:</b>{{viewQuote?.quoteName}}</span>
    &nbsp;&nbsp;<span><b>Contact:</b>{{viewQuote?.contactPartyId}}</span>
    &nbsp;&nbsp;<span><b>Address:</b>{{viewQuote?.address1}} {{viewQuote?.address2}}</span>
  </div>
  <br><br><br>
  <table class="table table-striped" style="width: 90%;margin: 0px auto">
    <thead>
      <tr>
        <th scope="col">Quantity</th>
        <th scope="col">Description</th>
        <th scope="col">Stock Picture</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Extended</th>
        <th scope="col">Customer Comments</th>
        <th scope="col" style="width: 10%;">Approval</th>
      </tr>
    </thead>
    <tbody *ngIf="this.viewQuoteList!=[]">
      <tr *ngFor="let itemList of viewQuoteList;let i= index;">
        <td>{{itemList.quantity}}</td>
        <td>{{itemList.description}}{{itemList.productId}}</td>
        <td>
          <img src="{{itemList.productContent.imageMap.s3SmallImageUrl}}" style="max-width: 30%;" alt="">
        </td>
        <td>{{itemList.quoteUnitPrice}}</td>
        <td>{{itemList.quoteUnitPrice*itemList.quantity}}</td>
        <td> <input id="customerComments{{i}}" *ngIf="itemList.quoteApproval" [(ngModel)]="itemList.quoteApproval.comments" type="text">
        </td>
        <td>
          <input name="approval{{i}}" [checked]="itemList.quoteApproval.isApproved=='Y'"
            [(ngModel)]="itemList.quoteApproval.isApproved" value="Y" type="radio">Yes
          <input name="approval{{i}}" [checked]="!itemList.quoteApproval||itemList.quoteApproval.isApproved=='N'"
            [(ngModel)]="itemList.quoteApproval.isApproved" value="N" type="radio">No
        </td>
      </tr>
    </tbody>
  </table>
  <button [style.background]="color" style="padding:1%; color:white;float: right;
  margin-right: 5%;
  border: none;
  width: 6%;" (click)="saveRetailView(viewQuoteList)">Save</button>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <span><b>Ship to address:</b> </span>
    </div>
    <div class="col-md-4">
      <span><b>Subtotal:</b></span>
      <span><b>Grandtotal:</b></span>
      <span><b>Tax:</b></span>
    </div>
  </div>
</div>
<!-- <div style="margin-left: 23%;">
  <span><b>Ship to address:</b> </span><span>
  </span>&nbsp;&nbsp;&nbsp;
  <span><b>Subtotal:</b></span><span></span>&nbsp;<span><b>Grandtotal:</b></span><span></span>
</div> -->
<br>