<div class="col-md-12 col-xs-24 col-sm-24 bgwhite">
    <h2 class="green f22 mt30 pt10" [style.color]='color'>Become a Living Therapeutic Affiliate</h2>
    <div class="aboutCannabidiol"> <span class="f16"> <br> Join&nbsp;<strong>Living
                Therapeutic's</strong>&nbsp;affiliate program and start earning money today marketing our Ultra Premium
            Hemp CBD products, including CBD oil, tinctures, gummies, pain creams and to health-conscious consumers. By
            becoming a&nbsp;<strong>Living Therapeutic</strong> Affiliate, you will gain access to our creative assets
            and deep product links that have been designed to help you promote our large and unique selection of premium
            Hemp CBD products, and earn generous commissions on our high value orders. <br><br> <strong>Living
                Therapeutic</strong>&nbsp;is based in Miami Florida and one of the leading CBD experts in the country.
            Our premium hemp CBD products will help to balance the human Endocannbinoid system. We believe that through
            targeting the the human Endocannabinoid system we can help many people restore their internal balance and
            booast their level of health. We are dedicated to producing the finest and purest quality hemp CBD products
            while never compromising on the quality of our CBD oils and products. That will be done by creating CBD
            products based on the latest CBD research and state of the art standardized CBD processing methods and then
            and only then, provide our high-quality products to our customers seeking healthier lifestyles and relief
            from symptoms of chronic ailments that CBD is known to offer relief in reducing pain and suffering. Our
            product line offers numerous delivery systems to assist our customers in making a choice as to which product
            is right for them. Whether it is straight up CBD oil, tinctures, gummies, pain creams, or capsules, our
            customers can rest assure that our products are of the highest quality filling services alongside natural
            and complementary health solutions. We have retail stores located in Florida and sell to all 50 states
            through our fast-growing website, <a
                href="http://www.livingtherapeutic.com/#/main">www.livingtherapeutic.com</a> <br><br> <strong>Program
                Highlights:</strong><br><br>
            <ul>
                <li>20% commission paid on all affiliate sales.</li>
                <li>Strong gift sales potential for Birthdays, Valentines, Mother’s &amp; Father’s Day, &amp; Christmas.
                </li>
                <li>Special affiliate-only coupon codes to help drive conversions.</li>
                <li>Our products have high repeat purchase potential.</li>
                <li>Average order value is over $75.</li>
                <li>Free Shipping on orders over our low threshold of $50.</li>
                <li>30-day cookie duration.</li>
                <li>Deep linking provided through our extensive catalog.</li>
                <li>Seasonal affiliate bonus contests.</li>
            </ul> <strong>Paid Search Policy:</strong> <br><br> Bidding on any Living Therapeutic or manufacturer
            trademarked or brand-related terms, including misspellings and variations, is not allowed. Otherwise,
            affiliates are encouraged to bid on non-trademarked terms in paid search. <br><br> <strong>Approval
                Policy:</strong><br><br> Living Therapeutic manages its affiliate program through the premier services
            of the AvantLink affiliate network. All affiliates are subject to final approval by AvantLink and
            <strong>Living Therapeutic</strong>. Please submit your application by calling 1 800-766-3709 completely
            filling out the online application. We look forward to having you join our family of enthusiastic and
            professional online marketers!
        </span> </div>
</div>