<br><br><br><br>
<div style="margin-top: 5%;margin-bottom: 5%;">
<h3 style="margin-left: 13%;">Quick Add Category</h3>
<br>
<table class="table table-striped" style="width: 80%;margin: 0px auto;">
    <thead>
    <tr>
      <th scope="col" style="width: 25%;">Product</th>
      <th scope="col" style="width: 25%;">List Price</th>
      <th scope="col" style="width: 25%;">Normal Price </th>
      <th scope="col" style="width: 15%;">Quantity</th>
      <th scope="col" style="width: 15%;">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let quickadd of quickAddCategory;let i=index">
      <th (click)="productPage(quickadd.product.productId)" scope="row"> <img style="width: 6%;" src="assets/img/refrigerator_PNG9062.png" alt="">
          {{quickadd.product.productId}}<br>{{quickadd.product.internalName}}</th>
      <td>
        ${{quickadd.productSummary.price.averageCost}}
      </td>
      <td>${{quickadd.productSummary.price.basePrice}}</td>
      <td><input type="number" [(ngModel)]="quantity[i]" placeholder="Qty" style="margin: auto;float: none; margin-top: 5px;" class="form-control w50 mr10 pull-left" min="1"></td>
      <td style="text-align: center;"><i class="fa fa-plus-square" aria-hidden="true" style="line-height: 3;"></i></td>
    </tr>
    </tbody>
  </table>
</div>