.sidebarmain.sidebarmain--shoppage:after {
    content: '';
    background: transparent;
    display: none;
    width: 100%;
    max-width: 250px;
    height: 6px;
    position: absolute;
    bottom: 74px;
    left: 58px;
}
.shopallSctn_bnnr {
    padding: 70px 20px 24px 123px;
    background-size: cover !important;
    background-position: center center !important;
}