<section class="homepagebaner aboutbnnr unillax-container" id="home">
    <img src="assets/img/aboutbnnr.jpg" alt="" class="unillax-background" style="transform: translateY(0px);">
    <div class="unillax-overlay unillax-element" style="color: rgb(255, 255, 255); transform: translateY(210.25px);">
        <div class="container-fluid">
            <div class="aboutbnnr__bannerContent">
                <div class="whiteOpacity">
                    <div class="headinghldr text-left">
                        <h1>THE PASSION TO CREATE</h1>
                    </div>
                    <p>"As a hair stylist first, I am very intentional when I create formulas. They must uphold the
                        integrity of the hair while effectively working and meeting our customers overall hair
                        expectations" ~ Nadine Ramos, Founder &amp; CEO</p>
                </div>
                <div class="aboutbnnr__btnhldr">
                    <a href="javascript:void(0);" id="arrow" class="blackBtn">READ MY STORY</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section1">
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h2>Meet Nadine Ramos, Founder &amp; CEO of LASIO Professional Hair Care</h2>
                <br>
                <p>LASIO was created by Nadine Ramos, a Latina, and New York City native. She was always a fan of
                    everything beauty, especially when it came to hair. “I remember feeling pretty when my hair was done
                    nicely. It didn't matter if I had fashionable clothes to wear, as long as my hair looked good, I
                    felt good,” says Ramos. Frizz was my hair struggle my entire life. I remember spending way too much
                    money having my hair blown out twice a week at hair salons just to have it sleek and smooth.
                    <br><br>
                    So when I had the opportunity to change the haircare industry with a frizz-fighting product, I was
                    excited and confident because I just knew that this treatment was going to bridge the gap in the
                    haircare market. There were so many treatments for hair straightening (Japanese and Lye relaxers),
                    but nothing to combat frizz while keeping the hair healthy. I was happy and greatly honored to bring
                    this product to customers because I knew I was solving the frizz problem many of us face.</p>
            </div>
        </div>
    </div>
</section>