<section class="faqpagesection whiteBoxSection editProfile">
  <div class="container">
    <div class="headinghldr text-left">
      <h5> <a routerLink="/my-account">MY ACCOUNT/</a></h5>
      <h1>EDIT MY DETAILS</h1>
    </div>
    <div class="comonformOuter">
      <form action="">
        <div class="row justify-content-end">
          <div class="col-md-12">
            <div class="row mb-5">
              <div class="col-md-6">
                <div class="form-group">
                  <label for=""><b>First Name*</b></label>
                  <input type="text" class="form-control" [(ngModel)]="userData.firstName"
                    [ngModelOptions]="{standalone: true}" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for=""><b>Middle Name</b></label>
                  <input type="text" class="form-control" [(ngModel)]="userData.middleName"
                    [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for=""><b>Last Name*</b></label>
                  <input type="text" class="form-control" required [(ngModel)]="userData.lastName"
                    [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for=""><b>Company Name</b></label>
                  <input type="text" class="form-control" [(ngModel)]="userData.comments"
                    [ngModelOptions]="{standalone: true}">
                </div>
              </div>

              <div class="col-md-12 formButton pxSpace mt-0" style="margin-bottom: 5%;">
                <a (click)="editGeneralInformation()" style="color: white;"
                  class="blackBtn hoverblck blackBtn__large">Save Changes</a>
              </div>

              <div class="col-md-12">
                <div class="row mb-5" *ngIf="!updateEmail && !addEmail">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" [style.background]='color' style="width: 100%; padding:10px;color:white">Email
                        <span><i class="fa fa-plus-square" aria-hidden="true" (click)="addMailScreen()"
                            style="color: white; margin-left: 85%;"></i></span></label>

                      <div *ngFor="let email of emailDataList">
                        <div class="row" *ngIf="email.infoString">
                          <div class="col-md-10">
                            {{email?.infoString}}
                          </div>
                          <div class="col-md-2">
                            <span><i class="fa fa-pencil" aria-hidden="true"
                                (click)="editEmail(email.contactMechId,email.contactMechTypeId,email.infoString)"
                                style="color: black; margin-right: 5px;"></i></span>
                            <span><i class="fa fa-trash" aria-hidden="true" (click)="deleteEmail(email.contactMechId)"
                                style="color: black; margin-right: 5px;"></i></span>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">

                  </div>
                </div>

                <!-- Edit Email -->

                <div class="row mb-5" *ngIf="updateEmail">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" [style.background]='color'
                        style="width: 100%; padding:10px;color:white">Email</label>
                      <div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for=""><b>Contact Purposes</b></label>
                              <select class="custom-select" name="state" [(ngModel)]="purpose"
                                (change)="purposeChange(updateEmailContactMechId,updateEmailContactMechTypeId)">
                                <option value="SHIPPING_LOCATION" class="ng-binding"> Shipping Destination Address
                                </option>
                                <option value="SHIP_ORIG_LOCATION" class="ng-binding"> Shipping Origin Address
                                </option>
                                <option value="BILLING_LOCATION" class="ng-binding"> Billing (AP) Address
                                </option>
                                <option value="PAYMENT_LOCATION" class="ng-binding"> Payment (AR) Address
                                </option>
                                <option value="GENERAL_LOCATION" class="ng-binding"> General Correspondence
                                  Address </option>
                                <option value="PUR_RET_LOCATION" class="ng-binding"> Purchase Return Address
                                </option>
                                <option value="PRIMARY_LOCATION" class="ng-binding"> Primary Address </option>
                                <option value="PREVIOUS_LOCATION" class="ng-binding"> Previous Address </option>
                                <option value="PO_DELIV_ADDRESS" class="ng-binding"> Purchase Order Delivery
                                  Address </option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Allow Solicitation</label>
                              <select class="custom-select" name="allowSolicitation" [(ngModel)]="allowSolicitation">
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" style="visibility: hidden;margin-top: 4%;">Email*</label>
                      <div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for=""><b>Email</b></label>
                              <input type="text" class="form-control" [(ngModel)]="updateEmailId"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group" style="margin-top: 5%;">
                              <a _ngcontent-jea-c7="" class="blackBtn hoverblck blackBtn__large"
                                (click)="updateEmailIdMethod()"
                                style="color: white; width: 100%; background: rgb(139, 33, 49);">Update</a>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group" style="margin-top: 5%;">
                              <a _ngcontent-jea-c7="" class="blackBtn hoverblck blackBtn__large"
                                (click)="cancelUpdateEmail()"
                                style="color: white; width: 100%; background: rgb(139, 33, 49);">Cancel</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



                <!-- Add New Email -->

                <div class="row mb-5" *ngIf="addEmail">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" [style.background]='color'
                        style="width: 100%; padding:10px;color:white">Email</label>
                      <div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for=""><b>Email</b></label>
                              <input type="text" class="form-control" [(ngModel)]="newEmailId"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Allow Solicitation</label>
                              <select class="custom-select" name="allowSolicitation"
                                [(ngModel)]="newMailAllowSolicitation">
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" style="visibility: hidden;">Email</label>
                      <div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group" style="margin-top: 20%;">
                              <a _ngcontent-jea-c7="" class="blackBtn hoverblck blackBtn__large" (click)="addNewEmail()"
                                style="color: white; width: 100%; background: rgb(139, 33, 49);">Add Email</a>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group" style="margin-top: 20%;">
                              <a _ngcontent-jea-c7="" class="blackBtn hoverblck blackBtn__large"
                                (click)="cancelUpdateEmail()"
                                style="color: white; width: 100%; background: rgb(139, 33, 49);">Cancel</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="row mb-5" *ngIf="!editPhone && !addPhone">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" [style.background]='color' style="width: 100%; padding:10px;color:white">Phone
                        <span><i class="fa fa-plus-square" aria-hidden="true" style="color: white; margin-left: 85%;"
                            (click)="addNewPhoneScreen()"></i></span></label>
                      <div *ngFor="let number of emailDataList">
                        <div class="row" *ngIf="number?.contactMechTypeId === 'TELECOM_NUMBER'">
                          <div class="col-md-10">
                            {{number.tnContactNumber}}
                          </div>
                          <div class="col-md-2">
                            <span><i class="fa fa-pencil" aria-hidden="true"
                                (click)="editPhoneScreen(number.contactMechId,number.contactMechTypeId,number.tnAreaCode,number.tnCountryCode,number.tnContactNumber)"
                                style="color: black; margin-right: 5px;"></i></span>
                            <span><i class="fa fa-trash" aria-hidden="true"
                                (click)="deletePhoneNumber(number.contactMechId)"
                                style="color: black; margin-right: 5px;"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">

                  </div>
                </div>

                <!-- Add Phone Number -->

                <div class="row mb-5" *ngIf="addPhone">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" [style.background]='color'
                        style="width: 100%; padding:10px;color:white">Phone</label>
                      <div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Allow Solicitation*</label>
                              <select class="custom-select" name="allowSolicitation"
                                [(ngModel)]="addPhoneAllowSolicitation">
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for=""><b>Area Code</b></label>
                              <input type="text" class="form-control" [(ngModel)]="addPhoneAreaCode"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for=""><b>Country Code</b></label>
                              <input type="text" class="form-control" [(ngModel)]="addPhoneCountryCode"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" style="visibility: hidden;">Phone</label>
                      <div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for=""><b>Contact Number</b></label>
                              <input type="text" class="form-control" [(ngModel)]="addPhoneContactNumber"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <a _ngcontent-jea-c7="" class="blackBtn hoverblck blackBtn__large"
                                (click)="addPhoneNumber()"
                                style="color: white;margin-top: 5%; width: 100%; background: rgb(139, 33, 49);">Add</a>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <a _ngcontent-jea-c7="" class="blackBtn hoverblck blackBtn__large"
                                (click)="editPhoneCancel()"
                                style="color: white;margin-top: 5%; width: 100%; background: rgb(139, 33, 49);">Cancel</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


                <!-- Edit Phone -->

                <div class="row mb-5" *ngIf="editPhone">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" [style.background]='color'
                        style="width: 100%; padding:10px;color:white">Phone</label>
                      <div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for=""><b>Contact Purposes</b></label>
                              <select class="custom-select" name="state" [(ngModel)]="editPhoneNumberPurpose"
                                (change)="purposeChange(updateEmailContactMechId,updateEmailContactMechTypeId)">
                                <option value="SHIPPING_LOCATION" class="ng-binding"> Shipping Destination Address
                                </option>
                                <option value="SHIP_ORIG_LOCATION" class="ng-binding"> Shipping Origin Address
                                </option>
                                <option value="BILLING_LOCATION" class="ng-binding"> Billing (AP) Address
                                </option>
                                <option value="PAYMENT_LOCATION" class="ng-binding"> Payment (AR) Address
                                </option>
                                <option value="GENERAL_LOCATION" class="ng-binding"> General Correspondence
                                  Address </option>
                                <option value="PUR_RET_LOCATION" class="ng-binding"> Purchase Return Address
                                </option>
                                <option value="PRIMARY_LOCATION" class="ng-binding"> Primary Address </option>
                                <option value="PREVIOUS_LOCATION" class="ng-binding"> Previous Address </option>
                                <option value="PO_DELIV_ADDRESS" class="ng-binding"> Purchase Order Delivery
                                  Address </option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="">Allow Solicitation*</label>
                              <select class="custom-select" name="editContactAllowSolicitation"
                                [(ngModel)]="editContactAllowSolicitation">
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for=""><b>Area Code</b></label>
                              <input type="text" class="form-control" [(ngModel)]="editContactAreaCode"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="" style="visibility: hidden;">Phone</label>
                      <div>
                        <div class="row">
                          <div class="col-md-12" style="margin-top: 5%;">
                            <div class="form-group">
                              <label for=""><b>Country Code</b></label>
                              <input type="text" class="form-control" [(ngModel)]="editContactCountryCode"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for=""><b>Contact Number</b></label>
                              <input type="text" class="form-control" [(ngModel)]="editContactContactNumber"
                                [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group" style="margin-top: 5%;">
                              <a _ngcontent-jea-c7="" class="blackBtn hoverblck blackBtn__large"
                                (click)="editPhoneNumber()"
                                style="color: white;margin-top: 5%; width: 100%; background: rgb(139, 33, 49);">Update</a>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group" style="margin-top: 5%;">
                              <a _ngcontent-jea-c7="" class="blackBtn hoverblck blackBtn__large"
                                (click)="editPhoneCancel()"
                                style="color: white;margin-top: 5%; width: 100%; background: rgb(139, 33, 49);">Cancel</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>

              <div class="col-md-12">
                <div class="row mb-5">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for=""><b>ADDRESS</b> <span style="display: inline-block"><i class="fa fa-plus-square"
                            aria-hidden="true" style="color: black; margin-left: 85%;"
                            (click)="addNewAddressScreen()"></i></span></label>
                      <div *ngIf="!addAddress" class="columnOne" id="accordion" role="tablist"
                        aria-multiselectable="true">
                        <div *ngFor="let address of addresses;let i = index">
                          <div *ngIf="address.contactMech.contactMechTypeId === 'POSTAL_ADDRESS'" role="tab"
                            id="headingone">
                            <h4 [style.background]='color' style="padding: 10px; color: white;margin: 3px;">
                              <a class="headerPanel" role="button" style="color: white;" data-toggle="collapse"
                                data-parent="#accordion" [href]="'#collapse'+i" aria-expanded="true"
                                [attr.aria-controls]="'collapse'+i">
                                Postal Address <i class="fa fa-angle-down" style="color: white;margin-left: 87%;"
                                  aria-hidden="true"></i><br>

                              </a>
                            </h4>
                            <span style="color: white;" *ngIf="address.partyContactMechPurposes.length > 0">
                              <div *ngFor="let purpose of address.partyContactMechPurposes">
                                <span>
                                  {{address.partyContactMechPurposes[0].contactMechPurposeType.description}}
                                  (Since {{address.partyContactMech.fromDate|date}})
                                </span>

                                <span style="margin-left: 10px;" *ngIf="address.partyContactMechPurposes.length > 0"
                                  (click)="deletePurpose(address.partyContactMechPurposes[0].contactMechId,address.partyContactMechPurposes[0].contactMechPurposeTypeId, address.partyContactMechPurposes[0].fromDate)"><i
                                    class="fa fa-minus-circle" aria-hidden="true" style="color: black;"></i></span>
                              </div>
                            </span>

                            <span (click)="deleteAddress(address.contactMech.contactMechId)">
                              <i class="fa fa-trash" aria-hidden="true"
                                style="color: black;margin-left: 10px; padding: 3px;"></i></span>

                            <div [id]="'collapse'+i" class="panel-collapse collapse in" role="tabpanel"
                              [attr.aria-labelledby]="'heading'+i">
                              <div class="panel-body">
                                <div class="row" style="margin-top: 10px;">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for=""><b>To Name*</b></label>
                                      <input type="text" class="form-control" [(ngModel)]="address.postalAddress.toName"
                                        [ngModelOptions]="{standalone: true}">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for=""><b>Address Line 1*</b></label>
                                      <input type="text" class="form-control"
                                        [(ngModel)]="address.postalAddress.address1"
                                        [ngModelOptions]="{standalone: true}">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for=""><b>Address Line 2</b></label>
                                      <input type="text" class="form-control"
                                        [(ngModel)]="address.postalAddress.address2"
                                        [ngModelOptions]="{standalone: true}">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for=""><b>City*</b></label>
                                      <input type="text" class="form-control" [(ngModel)]="address.postalAddress.city"
                                        [ngModelOptions]="{standalone: true}">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="">Country*</label>
                                      <select class="custom-select" name="country" (change)="selectStates(country)"
                                        required>
                                        <option
                                          [attr.selected]="address.postalAddress.countryGeoId === country.geoId ? true:null"
                                          *ngFor="let country of countries" value="{{country.geoId}}">
                                          {{country.geoName}}
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="">State/Province*</label>
                                      <select class="custom-select" name="state" required>
                                        <option
                                          [attr.selected]="address.postalAddress.stateProvinceGeoId === state.geoId ? true:null"
                                          *ngFor="let state of states" value="{{state.geoId}}">{{state.geoName}}
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for=""><b>Zipcode*</b></label>
                                      <input type="text" class="form-control"
                                        [(ngModel)]="address.postalAddress.postalCode"
                                        [ngModelOptions]="{standalone: true}">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for=""><b>Contact Purposes</b></label>
                                      <select class="custom-select" name="state" [(ngModel)]="purpose" required
                                        (change)="purposeChange(address.contactMech.contactMechId,purpose)">
                                        <option value="SHIPPING_LOCATION" class="ng-binding"> Shipping Destination
                                          Address
                                        </option>
                                        <option value="SHIP_ORIG_LOCATION" class="ng-binding"> Shipping Origin Address
                                        </option>
                                        <option value="BILLING_LOCATION" class="ng-binding"> Billing (AP) Address
                                        </option>
                                        <option value="PAYMENT_LOCATION" class="ng-binding"> Payment (AR) Address
                                        </option>
                                        <option value="GENERAL_LOCATION" class="ng-binding"> General Correspondence
                                          Address </option>
                                        <option value="PUR_RET_LOCATION" class="ng-binding"> Purchase Return Address
                                        </option>
                                        <option value="PRIMARY_LOCATION" class="ng-binding"> Primary Address </option>
                                        <option value="PREVIOUS_LOCATION" class="ng-binding"> Previous Address </option>
                                        <option value="PO_DELIV_ADDRESS" class="ng-binding"> Purchase Order Delivery
                                          Address </option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <a style="color: white; width: 100%;" [style.background]='color'
                                        (click)="updateAddress(address.postalAddress)"
                                        class="blackBtn hoverblck blackBtn__large">Update Shipping Address</a>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <a style="color: white; width: 100%;"
                                        *ngIf="defaultShipAddr != address.contactMech.contactMechId"
                                        [style.background]='color'
                                        (click)="setDefaultAddress(address.contactMech.contactMechId)"
                                        class="blackBtn hoverblck blackBtn__large">Set Default</a>
                                      <a style="color: white; width: 100%;"
                                        *ngIf="defaultShipAddr === address.contactMech.contactMechId"
                                        [style.background]='color' class="blackBtn hoverblck blackBtn__large">Is
                                        Default</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Add Address -->

                      <div *ngIf="addAddress">
                        <div class="panel-body">
                          <div class="row" style="margin-top: 10px;">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for=""><b>To Name*</b></label>
                                <input type="text" class="form-control" [(ngModel)]="addAddressData.toName"
                                  [ngModelOptions]="{standalone: true}" required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for=""><b>Attention Name</b></label>
                                <input type="text" class="form-control" [(ngModel)]="addAddressData.attnName"
                                  [ngModelOptions]="{standalone: true}">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for=""><b>Address Line 1*</b></label>
                                <input type="text" class="form-control" [(ngModel)]="addAddressData.address1"
                                  [ngModelOptions]="{standalone: true}" required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for=""><b>Address Line 2</b></label>
                                <input type="text" class="form-control" [(ngModel)]="addAddressData.address2"
                                  [ngModelOptions]="{standalone: true}">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for=""><b>City*</b></label>
                                <input type="text" class="form-control" [(ngModel)]="addAddressData.city"
                                  [ngModelOptions]="{standalone: true}" required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="">Country*</label>
                                <select class="custom-select" name="country" [(ngModel)]="addAddressData.countryGeoId"
                                  (change)="selectStates(addAddressData.countryGeoId)" required>
                                  <option *ngFor="let country of countries" value="{{country.geoId}}">
                                    {{country.geoName}}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="">State/Province*</label>
                                <select class="custom-select" name="state"
                                  [(ngModel)]="addAddressData.stateProvinceGeoId" required>
                                  <option *ngFor="let state of states" value="{{state.geoId}}">
                                    {{state.geoName}}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for=""><b>Zipcode*</b></label>
                                <input type="text" class="form-control" [(ngModel)]="addAddressData.postalCode"
                                  [ngModelOptions]="{standalone: true}" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for=""><b>Country Code*</b></label>
                                <input type="text" class="form-control" [(ngModel)]="addAddressData.countryCode"
                                  [ngModelOptions]="{standalone: true}" required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for=""><b>Area Code*</b></label>
                                <input type="text" class="form-control" [(ngModel)]="addAddressData.areaCode"
                                  [ngModelOptions]="{standalone: true}" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for=""><b>Phone Number*</b></label>
                                <input type="text" class="form-control" [(ngModel)]="addAddressData.phoneNumber"
                                  [ngModelOptions]="{standalone: true}" required>
                              </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <a style="color: white; width: 100%;" [style.background]='color'
                                  (click)="addAddressMethod()" class="blackBtn hoverblck blackBtn__large">Add
                                  Address</a>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <a style="color: white; width: 100%;" [style.background]='color'
                                  (click)="closeAddAddress()" class="blackBtn hoverblck blackBtn__large">Cancel</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>