<section class="faqpagesection whiteBoxSection">
    <div class="container">
        <div class="headinghldr text-left">
            <h1>FREQUENTLY ASKED QUESTIONS</h1>
        </div>
        <div class="faqHolder">
            <div class="row">
                <div class="col-md-3 col-sm-12 tabToggle--mobile">
                    <div class="clickToggle desktop-dnone">
                        <img src="assets/img/mainSidebar__arrow.svg" class="mainSidebar__arrow desktop-dnone" alt="">
                        <span>All</span>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/dashboard/faqs">KERATIN TREATMENTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/dashboard/products">PRODUCTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/dashboard/education">EDUCATION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/dashboard/shiping">SHIPPING &amp; RETURNS</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="tab-content">
                        <div class="tab-pane fade show active">
                            <div class="faqAccordian">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                    <span><img src="assets/img/faqangle.svg" alt=""></span> ipsum dolor
                                                    sit amet?
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                et dolore magna aliqua.
                                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                et dolore magna aliqua.

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button"
                                                    data-toggle="collapse" data-target="#collapseTwo"
                                                    aria-expanded="false" aria-controls="collapseTwo">
                                                    <span><img src="assets/img/faqangle.svg" alt=""></span>Ut enim ad
                                                    minim veniam?
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                et dolore magna aliqua.
                                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                et dolore magna aliqua.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button"
                                                    data-toggle="collapse" data-target="#collapseThree"
                                                    aria-expanded="false" aria-controls="collapseThree">
                                                    <span><img src="assets/img/faqangle.svg" alt=""></span> Malesuada
                                                    fames ac turpis egestas sed
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                et dolore magna aliqua.
                                                Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                                et dolore magna aliqua.

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0);" class="blackBtn hoverblck">ASK A QUESTION</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>